*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/* shared style */
.btn{
    background-color: #469165;
    color: #fff;
    padding: 12.5px 16px;
    border-radius: 4px;
    transition: 0.3s ease-in;
}
.btn:hover{
    background-color: #bead14;
}



/* main style */
body{
    font-family: "Inter", sans-serif;
}

/* header section */
header{
    background-color: #fff;
}
nav{
    display: flex;
    justify-content: space-around;
}
header .img{
    width: 139px;
    height: 60px;
    margin-top: 16px;
}
header .manu{
    display: flex;
    margin-top: 34px;
    gap: 34px;
    list-style: none;
    
}
header .manu li a{
    text-decoration: none;
    color: #000000;
}

header .btn{
    margin-top: 24px;
}