*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/* shared style */
.btn{
    background-color: #469165;
    color: #fff;
    font-size: 16px;
    padding: 12.5px 16px;
    border-radius: 4px;
    transition: 0.3s ease-in;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.103);
}
.button {
    display: inline-flex;
    gap: 10px;
}
.btn:hover{
    background-color: #1650f0;
}
.container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}

.section-header h1{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    padding-top: 138px;
}
.section-header p{
    color: #627382;
    padding: 16px 0 44px;
    line-height: 20px;
}


/* main style */
body{
    font-family: "Inter", sans-serif;
}

/* header section */
header{
    background-color: #fff;
}
nav{
    display: flex;
    justify-content: space-around;
}
header .img{
    width: 139px;
    height: 60px;
    margin: 8px 0;
}
header .manu{
    display: flex;
    margin-top: 30px;
    gap: 34px;
    list-style: none;
    
}
header .manu li a{
    text-decoration: none;
    color: #000000;
}

header .btn{
    margin-top: 18px;
}

/* header banner section */
header .banner{
    background: url(img/assets/hero-bg.png) no-repeat;
    background-size: cover;
    padding: 115.5px 0 179.5px;
    color: white;
}
header .text{
    width: 229px;
    border-radius: 50px;
    margin: 0 auto 16px;
    align-items: center;
    padding: 8px 12px 8px 0px;
    color: #469165;
    background-color: #fff;
}
header .banner h1{
    font-size: 72px;
    line-height: 84px;
}
header .banner h1 span{
    display: block;
    color: #30B868;
}
header .banner .text-2{
    font-size: 18px;
    line-height: 24px;
    width: 65%;
    margin: 16px auto 0;
}

header .btn-s{
    background-color: transparent;
    border: 1px solid white;
}

/* structure section  */
#structure .box{
    display: flex;
    gap: 24px;
}
#structure .box .card{
    padding: 69.5px 24px;
    box-shadow: 0 0 8px #0000001a;

}
#structure .box .card img{
    padding: 20px;
    border-radius: 50px;
    background-color: #F95555;
}

/* design section */
#design .container{
    display: flex;
    margin: 120px auto; 
}
#design .section-header{
    padding: 90px 0 102px 60px;
}

#design .section-header .solution{
    color: #469165;
    text-align: left;
}
#design .section-header h1{
    font-size: 45px;
    padding: 0;
    text-align: left;
}
#design .section-header p{
    text-align: left;
}
#design .section-header .box-section p{
    padding: 0;
    margin: 0 0 16px;
    display: flex;
    gap: 10px;
}

/* clearly section  */
#clearly .container{
    background-color: #F7F6F2;
    padding-bottom: 20px;
    margin-bottom: 120px;
}

/* footer section  */

 footer{
    background-color: #001931;
    color: white;
 }
 footer .footer-section{
    display: flex;
    justify-content: space-between;
    padding: 80px 0 60px;
 }
 footer p{
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
 }
 footer .icon{
    display: flex;
    justify-content: center;
    gap: 16px;
    color: black;
 }
 footer .icon i{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
 }

footer .line{
    border-top: 1px solid rgba(255, 255, 255, 0.267);
    margin-bottom: 20px;
}



 footer .copyright{
    font-size: 16px;
    padding-bottom: 10px;
    margin: 0 auto;
 }